@charset "UTF-8";


/* --- Enlaces de HTML --- */
.logotipo {
  width: 150px;
  height: 150px;
}

.menuBar {
  display: flex;
  flex-flow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  list-style: none;
  min-height: 85px;
  width: 100%;
}

.menuBar .listas a:hover {
  text-decoration: none;
  padding-left: 7.5px;
  padding-right: 7.5px;
  justify-self: space-around;
  object-fit: contain;
  margin: 7.5px;
  transform: scale(1.5, 1.5);
  transition: 2s;
}

/* Main Index */
@media only screen and (min-width: 350px) {
  .principal--llamado {
    Height: auto;
    width: 100%;
    justify-self: center;
    aspect-ratio: 1, 6;
    overflow: hidden;
    align-self: center;
    padding-left: 10rem;
  }

  .principal__index--encabezados {
    color: #363537;
    text-align: center;
    line-height: 0.9;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
    padding-left: 5rem;
  }

  .principal--portafolio {
    padding-left: 85px;
    margin-left: 7.5px;
  }

  .principal--portafolio .logos--portafolio {
    width: 150px;
    height: 150px;
    box-shadow: 10px;
  }
}

/* Main Acerca de mi */
@media only screen and (min-width: 350px) {
  .acerca-de-mi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-style: italic;
    font-family: "Roboto";
    color: #363537;
    padding-left: 20px;
    text-align: justify;
  }

  .acerca-de-mi .miCv {
    justify-self: center;
    align-self: center;
  }

  .acerca-de-mi .textoAcerca {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto";
    justify-content: space-around;
    align-content: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .acerca-de-mi .textoDescripcion {
    grid-area: texto;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 2rem;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 2rem;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 2rem;
  }
}

/* Main Portafolio */
@media only screen and (min-width: 576px) {
  .portafolioMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 300px;
    gap: 10px 10px;
  }
}

/* Main Habilidades */
@media only screen and (min-width: 576px) {
  .logosHabilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 350px;
    margin-left: 7.5px;
    gap: 20px 20px;
  }
}

/* Main Formulario */
@media only screen and (min-width: 350px) {

  .principalFormulario,
  .principalFormulario .principal__sección__form__grupo {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    font-family: "Roboto";
    color: #363537;
    margin: 7.5px;
    padding: 15px;
  }

  .principalFormulario .principal__sección__form__grupo {
    color: #2FBF71;
  }

  .principalFormulario .consultaBorde {
    border: 1px solid #d4d2d2;
  }
}

/* Footer */
.foo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 85px;
  padding-top: 45px;
  margin: 7.5px;
  justify-content: center;
  align-content: center;
  background-color: #2FBF71;
}

.foo .textoFooter {
  font-size: 1rem;
  font-style: italic;
  font-family: "Roboto";
  font-weight: bold;
  color: #363537;
}

.foo .foo--redes {
  width: 25px;
  height: 25px;
  align-self: center;
}