/* --- Enlaces de HTML --- */

.menuBar {
  display: flex;
  flex-flow: auto;
  justify-content: flex-end;
  width: 100%;
  font-family: "Roboto";
  font-style: italic;
}

.menuBar .listas a:hover {
  text-decoration: underline solid #EF2D56;
  transform: skewX(20deg);
  transition: 0.5s;
}

/* Main Index */

@media only screen and (min-width: 350px) {

  .carouselEstilo {
    color: #EF2D56;
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
  }

  .principal--llamado {
    height: auto;
    width: 100%;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    padding-left: 7rem;
  }

  .principal__index--encabezado {
    color: #EF2D56;
    text-align: center;
    font-style: italic;
    justify-self: center;
    align-self: center;
    padding-left: 5rem;
  }

  .principal--portafolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .principal--portafolio .textoPortafolio {
    font-size: 1rem;
    font-family: "Roboto";
    font-style: italic;
    color: #363537;
  }

  .principal--portafolio .logos--portafolio {
    width: 5rem;
    height: 5rem;
    padding: 5px 5px 5px 5px;
  }

  .principal--portafolio .logos--portafolio:hover {
    transform: scale(1.2, 1.2);
    transition: 1s;
  }
}

/* Main Acerca de mi */

@media only screen and (min-width: 350px) {

  .acerca-de-mi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-style: italic;
    font-family: "Roboto";
    color: #363537;
    padding-left: 20px;
    text-align: justify;
  }

  .acerca-de-mi .miCv {
    justify-self: center;
    align-self: center;
  }

  .acerca-de-mi .textoAcerca {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto";
    justify-content: space-around;
    align-content: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .acerca-de-mi .textoDescripcion {
    grid-area: texto;
    font-size: 1rem;
    font-family: "Roboto";
    font-style: italic;
    color: #363537;
  }

  .acerca-de-mi .encabezadoVideo {
    color: #EF2D56;
    font-family: "Roboto";
    font-style: italic;
    justify-self: left;
    align-self: center;
  }
}

/* Main Portafolio */

@media only screen and (min-width: 350px) {

  .portafolioMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-top: 1em;
    gap: 10px 10px;
  }
}

/* Main Habilidades */

@media only screen and (min-width: 350px) {

  .logosHabilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-top: 1em;
    gap: 10px 10px;
  }
}

/* Main Formulario */

@media only screen and (min-width: 350px) {

  .principalFormulario {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    font-family: "Roboto";
    color: #363537;
    padding: 1em;
  }

  .principalFormulario .etiquetasFormulario {
    font-size: 1rem;
    color: #EF2D56;
  }

  .principalFormulario .consultaBorde {
    border: 1px solid #d4d2d2;
  }
}

/* Encabezados h1 portafolio, habilidades y contacto */

@media only screen and (min-width: 350px) {
  .encabezadoEstilo {
    color: #EF2D56;
    Font-style: italic;
    justify-self: left;
    align-self: center;
    padding-left: 1.5em;
  }
}

/* Footer */

.foo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 85px;
  padding-top: 45px;
  margin: 7.5px;
  justify-content: center;
  align-content: center;
  background-color: #2FBF71;
}

.foo .textoFooter {
  font-size: 1rem;
  font-style: italic;
  font-family: "Roboto";
  font-weight: bold;
  color: #363537;
}

.foo .foo--redes {
  width: 35px;
  height: 35px;
}