@charset "UTF-8";

/* Variables */
/* --- Enlaces de HTML --- */
.logotipo {
  width: 150px;
  height: 150px;
}

.menuBar {
  display: flex;
  flex-flow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  list-style: none;
  min-height: 85px;
  width: 100%;
}

.menuBar .listas a:hover {
  text-decoration: none;
  padding-left: 7.5px;
  padding-right: 7.5px;
  justify-self: space-around;
  object-fit: contain;
  margin: 7.5px;
  transform: scale(1.5, 1.5);
  transition: 2s;
}

/* Main Index */
@media only screen and (min-width: 350px) {
  .principal--llamado {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-left: 500px;
    justify-self: center;
    align-self: center;
  }

  .principal__index--encabezados {
    color: #363537;
    text-align: center;
    line-height: 0.9;
    font-weight: 600;
    font-style: italic;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
  }

  .principal--portafolio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 85px;
    margin-left: 7.5px;
  }

  .principal--portafolio .logos--portafolio {
    width: 150px;
    height: 150px;
    box-shadow: 10px;
  }
}

/* Main Acerca de mi */
@media only screen and (min-width: 576px) {
  .acerca-de-mi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-style: italic;
    font-family: "Roboto";
    color: #363537;
    padding-left: 20px;
    text-align: justify;
  }

  .acerca-de-mi .miCv {
    justify-self: center;
    align-self: center;
  }

  .acerca-de-mi .textoAcerca {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto";
    justify-content: space-around;
    align-content: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .acerca-de-mi .textoDescripcion {
    grid-area: texto;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 20px;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 20px;
  }

  .acerca-de-mi .texto--estilo {
    font-size: 20px;
  }
}

/* Main Portafolio */
@media only screen and (min-width: 576px) {
  .portafolioMain {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-areas: "paginasPortafolio paginasPortafolio paginasPortafolio paginasPortafolio paginasPortafolio paginasPortafolio";
    gap: 10px 10px;
  }

  .portafolioMain .portafolio--areas {
    grid-area: paginasPortafolio;
  }
}

/* Main Habilidades */
@media only screen and (min-width: 576px) {
  .logosHabilidades {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-areas: "habilidades habilidades habilidades habilidades habilidades habilidades";
    padding-left: 85px;
    margin-left: 7.5px;
    gap: 2px 2px;
  }

  .logosHabilidades .habilidades--diseño {
    grid-area: habilidades;
  }
}

/* Main Formulario */
@media only screen and (min-width: 576px) {
  .principalFormulario {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363537;
    margin: 7.5px;
    padding: 15px;
  }

  .principalFormulario .principal__sección__form__grupo {
    font-size: 1rem;
    font-style: italic;
    color: #363537;
  }
}

/* Footer */
.foo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 85px;
  padding-top: 45px;
  margin: 7.5px;
  justify-content: center;
  align-items: center;
}

.foo .foo--h4 {
  font-style: italic;
  text-align: center;
  color: #363537;
  font-weight: 600;
  padding: 15px;
  margin: 5px;
}

.foo .foo--h5 {
  font-style: italic;
  text-align: center;
  color: #363537;
  font-weight: 600;
  padding: 15px;
  margin: 5px;
}

.foo .foo--redes {
  width: 45px;
  height: 45px;
  align-self: center;
}