/* Variables */

$font1:'Roboto';

$font2:'Segoe UI';

$font3:'Open Sans';

$font4: sans-serif;

$colortexto1: #363537;

$aspectratio: 1,6;




/* --- Enlaces de HTML --- */

.menuBar {
    display: flex;
    flex-flow: auto;
    justify-content: flex-end;
    width: 100%;
    font-family: $font1;
    font-style: italic;


    .listas a:hover {

        text-decoration: underline solid #EF2D56;
        transform: skewX(20deg);
        transition: 0.5s;
    }
}

/* Main Index */

@media only screen and (min-width:350px) {



    .principal--llamado {

        height: auto;
        width: 100%;
        aspect-ratio: $aspectratio;
        overflow: hidden;
        justify-self: center;
        align-self: center;
        padding-left: 18rem;
    }

    .principal__index--encabezado {

        color: #EF2D56;
        text-align: center;
        font-style: italic;
        justify-self: center;
        align-self: center;
    }

    .principal--portafolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .textoPortafolio {
            font-size: 1rem;
            font-family: $font1;
            font-style: italic;
            color: #363537;
        }

        .logos--portafolio {
            width: 5rem;
            height: 5rem;
            padding: 5px 5px 5px 5px;
        }

        .logos--portafolio:hover {
            transform: scale(1.2, 1.2);
            transition: 1s;
        }
    }
}

/* Main Acerca de mi */

@media only screen and (min-width:350px) {
    .acerca-de-mi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-style: italic;
        font-family: $font1;
        color: $colortexto1;
        padding-left: 20px;
        text-align: justify;

        .miCv {
            justify-self: center;
            align-self: center;
        }

        .textoAcerca {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "texto";
            justify-content: space-around;
            align-content: center;
            margin-top: 5px;
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .textoDescripcion {
            grid-area: texto;
            font-size: 1rem;
            font-family: $font1;
            font-style: italic;
            color: #363537;
        }

        .encabezadoVideo {
            color: #EF2D56;
            font-family: $font1;
            font-style: italic;
            justify-self: left;
            align-self: center;
        }
    }
}

/* Main Portafolio */


@media only screen and (min-width:350px) {

    .portafolioMain {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 3em;
        padding-top: 3em;
        gap: 10px 10px;
    }
}

/* Main Habilidades */

@media only screen and (min-width:350px) {

    .logosHabilidades {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1em;
        padding-top: 1em;
        gap: 10px 10px;
    }
}

/* Main Formulario */


@media only screen and (min-width:350px) {

    .principalFormulario {

        font-size: 1.5rem;
        font-style: italic;
        font-weight: bold;
        font-family: $font1;
        color: #363537;
        padding: 1em;

        .etiquetasFormulario {
            font-size: 1rem;
            color: #EF2D56
        }

        .consultaBorde {
            border: 1px solid rgb(212, 210, 210);
        }
    }
}


/* Encabezados h1 portafolio, habilidades y contacto */

@media only screen and (min-width:350px) {

    .encabezadoEstilo {
        color: #EF2D56;
        Font-style: italic;
        justify-self: left;
        align-self: center;
        padding-left: 1.5em;
    }
}

/* Footer */

.foo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 85px;
    padding-top: 45px;
    margin: 7.5px;
    justify-content: center;
    align-content: center;
    background-color: #2FBF71;

    .textoFooter {

        font-size: 1rem;
        font-style: italic;
        font-family: $font1;
        font-weight: bold;
        color: $colortexto1;

    }

    .foo--redes {

        width: 35px;
        height: 35px;
    }
}